@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One|Source+Serif+Pro);
header {
  size: 100%;
  background-image: url(header_desktop.jpg);
  background-repeat: no-repeat;
  width: 100%;
}
img {
  padding-left: 5em;
  padding-top: 2em;
}
body {
	font-family: Source Serif Pro, serif;
	font-size: 16px;
	line-height: 1.5;
  color:#242424;
  margin: 0;
}
nav {
  color:#242424;
  font-family: Source Serif Pro, serif;
  text-align: right;
  padding-right: 8em;
  padding-top: 0;
  padding-bottom: 0;
}
section {
  padding: 0 0 0 5em;
}
h1 {
  font-family: Julius Sans One, sans-serif;
  font-weight: lighter;
	font-size: 72px;
  padding-top: 1em;
  margin: 0;
}
h2 {
  font-size: 24px;
}
p {
  font-family: Source Serif Pro, serif;
  font-size: 16px;
  margin-bottom: 1em;
  margin: #EDEEF0;
  padding-top: 0;
}
#intro {
  padding: 0em 0 10em 5em;
}
#wrapper {
  background-color: #ffffff;
  width: 100%;
  margin: auto;
}
#about {
  padding-top: 5em;
  padding-bottom: 2em;
  width: 60%;
}  
#menu {
  padding-top: 2em;
  padding-bottom: 0;
  width: 100%;
}
#reservations {
  padding-bottom: 3em;
  padding-top: 1em;
  width: 100%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
span {
  font-size: 24px;
  border-bottom: 3px solid black;
  display: inline-block;
}
ul {
  list-style: none;
  padding-left: 0em;
  padding-bottom: 0em;
}
footer {
  color: #ffffff;
  background: #242424;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  size: 100%;
  align-content: center;
}
@media only screen and (max-width: 800px) {
  header {
    width: 100%;
    padding: .6em;
  } 
  nav {
    float: none;
    padding: .6em;
    text-align: left;
    position: left;
  } 
  h1 {
  font-size: 64px;
    position: left;
    text-align: left;
    padding-top: 1em;
  }
  h2 {
  font-size: 18px;
    align-content: center;
    padding: 0em;
  }
  img {
    padding: .6em;
    padding-left: 0em;
  }
   div {
    position: left;
    padding: 0em;
  }
   span {
    padding-left: none;
    position: left;
    text-align: left;
    align-content: left;
  }
   header {
    background-image: url(header_tablet.jpg);
    background-image: 100%;
    width: 100%;
    padding-left: 2em;
  }
    section, div {
    width: 100%;
    padding: .6em;
    padding-left: 2em;
  }
  #intro {
    padding: 0em 0 2em 0em;
  }
  #wrapper {
    background-color: #ffffff;
    width: 100%;
    margin: auto;
    padding: 0em;
 }
  #about {
    padding-top: 3em;
    padding-bottom: 2em;
    width: 80%;
 }
 #reservations {
    padding-bottom: 3em;
 }
@media only screen and (max-width: 480px) {
  nav {
    display: block;
    padding: .6em;
    position: left;
    text-align: left;
  }
  h1 {
    font-size: 44px;
    position: left;
    text-align: left;
    padding-top: 1em;
    border: 0em;
  }
  h2 {
    font-size: 18px;
    align-content: center;
    padding: 0em;
  }
  img {
    padding-left: 0em;
  }
  div {
    position: left;
    padding: 0em;
  }
  span {
    padding-left: none;
    position: left;
    text-align: left;
    align-content: left;
  }
  header {
    background-image: url(header_mobile.jpg);
    background-image: 100%;
    width: 100%;
  }
  section, div {
    width: 100%;
    padding: .6em;
  }
  #intro {
    padding: 0em 0 2em 0em;
  }
  #wrapper {
    background-color: #ffffff;
    width: 100%;
    margin: auto;
    padding: 0em;
 }
  #about {
    padding-top: 3em;
    padding-bottom: 2em;
    width: 80%;
 }
 #reservations {
    padding-bottom: 3em;
 }

}