@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One|Source+Serif+Pro);
body {
	font-family: Source Serif Pro, serif;
	font-size: 16px;
	line-height: 1.5;
  color:#242424;
}
nav {
  color:#242424;
  font-family: Source Serif Pro, serif;
  text-align: right;
  padding-right: 10em;
  padding-top: 0;
}
section {
  padding: 0 0 0 5em;
}
h1 {
  font-family: Julius Sans One, sans-serif;
  font-weight: lighter;
	font-size: 72px;
}
h2 {
  font-size: 24px;
  margin-bottom: 1em;
  border-bottom: 3px solid black;
  display: inline-block;
}
p {
  font-family: Source Serif Pro, serif;
  font-size: 16px;
  margin-bottom: 1em;
}
#intro {
  background-image: url(header2.jpg),padding-top:10em;
  background-repeat: no-repeat;
  background-size:cover;
  padding: 10em 0 10em 5em;
  background-position: right;
}
#about {
  padding-top: 2em;
  padding-bottom: 2em;
}  
#menu {
  background: #EBEBEB;
  padding-top: 2em;
  padding-bottom: 2em;
}
#Contact {
  padding-top: 2em;
  padding-bottom: 2em;
} 
span {
  border-bottom: none;
}
ul {
  list-style: none;
}
footer {
  color: #ffffff;
  padding: 2em 0 20px 5em;
  background: #242424;
  text-align: center;
}