
body {
      background-image: url(header.jpg); 
      background-repeat: no-repeat; align-content: center;
}

h1, p {
    color: black;
    font-family: OpenSans;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 900px;
}

h1 {
	font-size: 72px;
	}
h2 {
    font-size: 24px;
}

p {
   font-size: 18px;

	}